.intro-wrapper {
    width: 90%;
    margin: -4.5rem auto 4.5rem;
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home {
    color: $off_white;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.intro-text {
    animation: slideFromLeft 1.5s ease-in;
}

.intro-title {
    animation: slideFromLeft 1s ease-in;
}
