html {
    scroll-behavior: smooth;
}

.App {
    background-image: linear-gradient(to bottom right, black 50%, #092542 50%);
    min-height: 100vh;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: $color__background-body; // Fallback for when there is no custom background color defined.
    color: $off_white;
}
